$simple-colors: (
  'white': #fff,
  'black': #000,
);

$colors: (

  'neutral': (
    1: #ffffff,
    2: hsl(0, 0%, 96%),
    3: hsl(0, 0%, 93%),
    4: hsl(0, 0%, 63%),
    5: hsl(0, 0%, 51%),
    6: hsl(0, 0%, 28%),
    7: hsl(0, 0%, 16%),
    8: rgb(0, 0, 0),
  ),

  'blue': (
    1: hsl(207, 100%, 98%),
    2: hsl(205, 87%, 94%),
    3: hsl(207, 89%, 86%),
    4: hsl(207, 89%, 68%),
    5: hsl(207, 90%, 54%),
    6: hsl(210, 79%, 46%),
    7: hsl(212, 80%, 42%),
    8: hsl(216, 100%, 21%),
  ),

  'green': (
    1: hsl(150, 100%, 98%),
    2: hsl(150, 87%, 94%),
    3: hsl(150, 89%, 86%),
    4: hsl(150, 89%, 68%),
    5: hsl(150, 90%, 54%),
    6: hsl(150, 79%, 46%),
    7: hsl(150, 80%, 42%),
    8: hsl(160, 100%, 16%),
  ),

  'purple': (
    1: hsl(312, 100%, 98%),
    2: hsl(312, 87%, 94%),
    3: hsl(312, 89%, 86%),
    4: hsl(312, 89%, 68%),
    5: hsl(312, 90%, 54%),
    6: hsl(312, 79%, 46%),
    7: hsl(312, 80%, 42%),
    8: hsl(312, 100%, 16%),
  ),

  'red': (
    1: hsl(348, 100%, 98%),
    2: hsl(348, 87%, 94%),
    3: hsl(348, 89%, 86%),
    4: hsl(348, 89%, 68%),
    5: hsl(348, 90%, 54%),
    6: hsl(348, 79%, 46%),
    7: hsl(348, 80%, 42%),
    8: hsl(348, 100%, 16%),
  ),

  'orange': (
    1: hsl(36, 100%, 98%),
    2: hsl(36, 87%, 94%),
    3: hsl(36, 89%, 86%),
    4: hsl(36, 89%, 68%),
    5: hsl(36, 90%, 54%),
    6: hsl(36, 79%, 46%),
    7: hsl(36, 80%, 42%),
    8: hsl(36, 100%, 16%),
  ),

  'yellow': (
    1: hsl(54, 100%, 98%),
    2: hsl(54, 87%, 94%),
    3: hsl(54, 89%, 86%),
    4: hsl(54, 89%, 68%),
    5: hsl(54, 90%, 54%),
    6: hsl(54, 79%, 46%),
    7: hsl(54, 80%, 42%),
    8: hsl(54, 100%, 16%),
  ),

);

// When colors are flipped, this is how they are matched
// NOTE: could be done with math, but this is easier and more flexible
$color-code-pairs: (
  1: 8,
  2: 7,
  3: 6,
  4: 5,
  5: 4,
  6: 3,
  7: 2,
  8: 1,
);

// FIXME: Should this be set color-by-color?
$color-variant-codes: (
  very-very-very-faint: 1,
  very-very-faint: 2,
  very-faint: 3,
  faint: 4,
  default: 5,
  strong: 6,
  very-strong: 7,
  very-very-strong: 8,
);
