:root {
  --semibold: 500;
  --link-weight: var(--semibold);
}

// Override default variables here
@include dark {

  body {
    @include light-scrollbars;
  }

  // Dark mode colors
  :root {
    --text-color: #fff;
    --border-color: #333;
    --background-color: #000;
    --offset-background-color: #1a1a1a;

    --discreet-color: #999;
    --faint-discreet-color: #666;
    --very-faint-discreet-color: #444;
    // --discreet-text-color: var(--discreet-color);

    // --link-color: var(--blue, #1755ff);
    // --link-active-color: var(--strong-blue, #003ce0);

    // Color usage in inverted elements (e.g. buttons and containers)
    // NOTE: this is NOT for dark mode
    // NOTE: for dark mode support, you should update flip these variables also
    --inverted-text-color: #111;
    --inverted-border-color: #ccc;
    --inverted-background-color: #fff;
    --inverted-offset-background-color: #eaeaea;

    // --inverted-discreet-color: var(--discreet-color);
    // --inverted-faint-discreet-color: var(--faint-discreet-color);
    // --inverted-very-faint-discreet-color: var(--very-faint-discreet-color);
    // --inverted-discreet-text-color: var(--inverted-discreet-color);

    // --inverted-link-color: var(--link-color);
    // --inverted-link-active-color: var(--link-active-color);

    --shadow-color: rgba(0, 0, 0, 0.9);
  }

}
