// Override default variables here
@include dark {

  body {
    @include light-scrollbars;
  }

  :root {
    --grey: #8e8e8e;
    --dark-grey: #464646;
    --dark: #202020;
    --shadow-color: rgba(0, 0, 0, 0.75);

    --text-color: var(--white);
    --border-color: var(--dark-grey);
    --background-color: var(--very-dark);
    --offset-background-color: var(--dark);

    --discreet-color-very-light: var(--dark-grey);
    --discreet-color-light: var(--grey);
    --discreet-color: var(--light-grey);
    // --discreet-text-color: var(--discreet-color);

    --inverted-text-color: var(--dark);
    --inverted-border-color: var(--light-grey);
    --inverted-background-color: var(--white);
    --inverted-offset-background-color: var(--very-very-light-grey);

    --inverted-discreet-color-very-light: var(--dark-grey);
    --inverted-discreet-color-light: var(--grey);
    --inverted-discreet-color: var(--grey);
    // --inverted-discreet-text-color: var(--inverted-discreet-color);

    --semibold: 500;
    --link-weight: var(--semibold);
  }

}
