// Override default variables here
@include dark {

  :root {
    // @include light-scrollbars;
    --grey: #8e8e8e;
    --dark-grey: #464646;
    --dark: #202020;
    --shadow-color: rgba(80, 80, 80, 0.2);

    --text-color: var(--white);
    --discreet-text-color: var(--grey);
    --border-color: var(--dark-grey);
    --background-color: var(--very-dark);
    --offset-background-color: var(--dark);

    --semibold: 500;
    --link-weight: var(--semibold);
  }

}

code {
  [style="color:#000000"] {
    color: var(--text-color) !important;
  }
}

pre {
  @include push-vertical;
  @include block;
  @include radius;
  @include pad;
  border-width: 1px;
  background-color: var(--offset-background-color);
}
