// Override default variables here
:root {
  --semibold: 500;
  --link-weight: var(--semibold);
}

pre {
  @include push-vertical;
  @include block;
  @include radius;
  @include pad;
  background-color: var(--very-very-light-grey);
  border-width: 1px;
}
